/* static/css/style.css */

/* Reseteo de márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #4CAF50;
    text-align: center;
}

/* Formulario */
form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.3s;
}

form input[type="file"]:hover {
    border-color: #4CAF50;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #45a049;
}

/* Resultados */
#result {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    text-align: center;
}

#result h2 {
    font-size: 1.8rem;
    color: #4CAF50;
}

#result ul {
    list-style-type: none;
    padding: 0;
    font-size: 1rem;
    color: #333;
}

#result li {
    margin: 10px 0;
}
